body {
  font-family: Arial, Helvetica, sans-serif;
}

.app-container {
  align-items: center;
  max-width: 60%;
  margin: 0 auto;
}

#buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

button {
  font-size: 1em;
  padding: 8px 16px;
  margin: 10px 0;
  width: 200px;
  background-color: lightblue;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #87cefa;
}

ul {
  list-style-type: none;
  padding: 0;
  width: 100%;
}

.ReactModal__Overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5); /* Add a semi-transparent black background */
  position: fixed; /* Make the overlay cover the entire screen */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.ReactModal__Content {
  position: relative;
  width: auto;
  max-width: 300px;
  padding: 20px;
  display: flex; /* Add flex layout */
  flex-direction: column; /* Stack the elements vertically */
  align-items: center; /* Center the elements horizontally */
}

